*,html,body
{
    margin: 0;
    padding: 0;
    
}
body{
    height:3000px;
    width: auto;
    background-image: linear-gradient(rgb(2, 189, 252), rgb(73, 72, 72) 70%) ;
}
header{
    position: fixed;
    width:100%;
    line-height: 10px;
    z-index: 1;
    

}
.secondary{
    width: 100%;
   margin:0px;

}
.logo img{
     width:10%;    
     height:auto;
     float: left;
     
}
header nav{
    float:top;
    width: 100%;
    text-align: right;
}
ul{
    list-style: none;
    background-color:#0005;
}
li{
    display: inline-block;
}
header ul li a{
    float: center;  
    padding:10px;
    display:block;
    font-weight: bold;
    color:whitesmoke;
    margin-right: 20px;
     transition: all 0.5s ease-in;

}
header ul li a:hover{ 
    margin-right: 10px; 
    font-weight: bolder;
    color:whitesmoke;
    padding-right:10px;
    background-color: rgb(56, 54, 54);
    transition: all 0.2s ease-in;
}
.img1
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img1.jpg);
    background-size: auto;
   

    
}
.slider,.slider ul,.slider ul li
{ 
    height: 1000px;
    width:100%;
    color: white;
    text-align: center;
}
.slider h1
{
    font-weight: bold;
    color:rgb(209, 45, 45);
    margin-top:270px;
}
.slider h3{
    color:rgb(207, 142, 20)
}
.slider span
{
    color:rgb(207, 195, 195);
}
.slider p
{
    color: white;
}
.slider a
{
    
    padding: 0px 0px;
    margin-right: 10px;
}

.slider a.btn-half
{
    background-color:deepskyblue;
    color: white;
    transition: 0.5s ease-in;
    padding: 10px 20px;
}
.slider a.btn-half:hover
{
    
    background-color: dodgerblue;
}

.slider a.btn-full
{
    background-color:rgb(255, 5, 25);
    color: white;
    transition: 0.5s ease-in;
    padding: 10px 20px;
}

.slider a.btn-full:hover
{

    background-color:#aa1313;
}
.slider i{
    font-size: 50px;
    margin-right: 10px;
}
.img2
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img2.jpg);
    background-size: auto;
   

    
}
.img3
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img3.jpg);
    background-size: auto;
   

    
}
.img4
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img4.jpg);
    background-size: auto;
   

    
}


